@import 'common/_breakpoint';
@import 'common/_colors';
@import 'common/_fonts';

header {
  background-color: rgb(212, 222, 222);
}

section {
  width: 50%;
}
#formexample {
  margin-top: 20px;
  background-color: rgb(255, 249, 188);
}
.hidden {
  display: none;
}
