<section>
  <form class="userInput" action="./add" method="post">

    <fieldset id="1">
      <legend>Onderwerp</legend>
      <label for="onderwerp"></label>
      <input id="onderwerp" type="text" name="onderwerp"> <span>*required</span><br/>

      <label for="email">Email adres</label>
      <input id="email" type="email" name="email"> <span>*required</span><br/>

      <label for="mobile">Telefoon nummer</label>
      <input id="mobile" type="tel" name="mobile"> <span>*required</span><br/>

      <label for="profilePhoto">Profielfoto</label>
      <input id="profilePhoto" type="url" name="profielfoto">
      <img id="output"/>
    </fieldset>
  </form>

</section>
