<section class="newformform">
  <form class="userInput" action="" method="post">
    <fieldset id="newform1">
      <label for="formname">Wat is de naam van het formulier ?</label>
      <input id="formname" type="text" name="formname" placeholder="new form"> <span>*required</span><br/>
      <button type="button">ok</button>
    </fieldset>
    <fieldset id="newform2" class="hidden">
      <legend>Onderwerp</legend>
      <label for="subject">Wat is het onderwerp ?</label>
      <input id="subject" type="text" name="subject"> <span>*required</span><br/>
      <button type="button">ok</button>
    </fieldset>

    <fieldset id="newform3" class="hidden">
      <label for="subsubjectboolean">Zijn er sub groepen bij dit onderwerp?</label>
      <input id="subsubjectboolean1" type="radio" value=true name="subsubjectboolean"><label for="subsubjectboolean1">ja</label>
      <input id="subsubjectboolean2" type="radio" value=false name="subsubjectboolean"><label for="subsubjectboolean2">nee</label><span>*required</span><br>
      <button type="button">ok</button>
    </fieldset>

    <fieldset id="newform4" class="hidden">
      <label for="subsubjects">Wat zijn de sub onderwerpen ?</label>
      <textarea id="subsubjects" type="textarea" name="subsubjects"></textarea><span>*required</span><br/>
      <button type="button">ok</button>
    </fieldset>

    <!-- <fieldset id="newform5" class="hidden">
      <label for="onderwerp">Wat zijn de termen ?</label>
      <textarea id="terms" type="textarea" name="terms"></textarea><span>*required</span><br/>
      <button type="button">ok</button>
    </fieldset>

    <fieldset id="newform6" class="hidden">
      <label for="onderwerp">Wat wil je weten over de termen ?</label>
      <input id="onderwerp" type="text" name="onderwerp"><span>*required</span><br/>
      <button type="button">ok</button>
    </fieldset> -->
  </form>


</section>
